*.safetensors filter=lfs diff=lfs merge=lfs -text
POMA_BENCH/nr3d_retrieval.jsonl filter=lfs diff=lfs merge=lfs -text
POMA_BENCH/scanrefer_retrieval.jsonl filter=lfs diff=lfs merge=lfs -text
POMA_BENCH/sr3d_retrieval.jsonl filter=lfs diff=lfs merge=lfs -text
POMA_BENCH/ssg_ref_total_by_view.jsonl filter=lfs diff=lfs merge=lfs -text
POMA_BENCH/ssg_ref_total_by_view_full.jsonl filter=lfs diff=lfs merge=lfs -text
assets/logo025.png filter=lfs diff=lfs merge=lfs -text
assets/overview.png filter=lfs diff=lfs merge=lfs -text
chamfer_rankings.json filter=lfs diff=lfs merge=lfs -text
light_3rscan_chamfer_rankings.json filter=lfs diff=lfs merge=lfs -text
light_arkitscenes_chamfer_rankings.json filter=lfs diff=lfs merge=lfs -text
light_scannet_chamfer_rankings.json filter=lfs diff=lfs merge=lfs -text
scripts/job/internvl3_8b_fine_tune_coco_job_output_44548.txt filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/3rscan_caption_per_view.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/3rscan_caption_per_view_safetensors.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/per_view_captions_3rscan_v1.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/scene_cap.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/ssg_obj_caption_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/ssg_ref_chain_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/ssg_ref_chain_template.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/ssg_ref_rel2_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/ssg_ref_rel2_template.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/3RScan/annotations/template_gen_language.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/arkitscenes_caption_merged.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/arkitscenes_caption_per_view.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/arkitscenes_caption_top5_filtered.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/per_view_captions_arkitscenes_v1.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/ssg_obj_caption_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/ssg_ref_chain_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/ssg_ref_rel2_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/Arkitscenes/annotations/ssg_ref_rel2_template.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msnn/balanced/msnn_train_eight_direction.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msnn/balanced/msnn_train_eight_direction_annotations.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msnn/balanced/msnn_train_four_direction.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msnn/balanced/msnn_train_four_direction_annotations.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msnn/msnn_scannet.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msqa/balanced/msqa_scannet_annotations_train.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/msqa/balanced/msqa_scannet_train.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/per_view_captions_scannet_v1.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/nr3d.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/nr3d_rm_adj.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/scanrefer.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/scanrefer_rm_adj.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/sr3d+.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/sr3d+_rm_adj.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/sr3d.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/sr3d_rm_adj.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/ssg_obj_caption_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/ssg_ref_chain_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/ssg_ref_chain_template.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/ssg_ref_rel2_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/refer/ssg_ref_rel2_template.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/scannet_caption_per_view.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/scannet_caption_per_view_filtered.jsonl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/small/small_objects.pkl filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/sqa_task/balanced/v1_balanced_questions_train_scannetv2.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/ScanNet/annotations/ssg_caption_gpt.json filter=lfs diff=lfs merge=lfs -text
existing_datasets/cc3m_1M/annotations/per_view_captions_cc3m_1M_v3.jsonl filter=lfs diff=lfs merge=lfs -text
